<mat-toolbar>
  <button mat-icon-button (click)="openNav()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="/" class="title">Book Base</a>
  <span class="example-spacer"></span>
  <div class="search">
    <input
      #newSearch
      (change)="onSubmit(newSearch.value)"
      type="text"
      placeholder="Search Books"
      name="book"
    />
  </div>
</mat-toolbar>

<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a href="/">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    Home
  </a>
  <a href="/favourites">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >favorite</mat-icon
    >
    Favourite Books</a
  >
</div>

<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="returnHome()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    Home
  </button>
  <button mat-menu-item (click)="gotoFavourites()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >favorite</mat-icon
    >
    Favourite Books
  </button>
</mat-menu> -->
