<!-- home component -->
<div class="all-home-content">

  <ng-container *ngIf="!isLoading">
    <div class="filters">
      <h1 class="home-title">Most popular books this week</h1>
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select
          panelClass="sort-select"
          [(ngModel)]="sort"
          (selectionChange)="getPopularBooksByGenre(sort)"
        >
          <mat-option value="fiction">Fiction</mat-option>
          <mat-option value="nonfiction">Non Fiction</mat-option>
          <mat-option value="Psychology">Psychology</mat-option>
          <mat-option value="self help">Self Help</mat-option>
          <mat-option value="science fiction">Science Fiction</mat-option>
          <mat-option value="mystery">Mystery</mat-option>
          <mat-option value="horror">Horror</mat-option>
          <mat-option value="thriller">Thriller </mat-option>
          <mat-option value="fantasy">Fantasy</mat-option>
          <mat-option value="childrens">Childrens</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>



  <div class="sale-status" *ngIf="saleStatusObj.isSaleOn">
    <mat-card>Sale is on!</mat-card>
  </div>

  <!-- <div class="sale-btn">
    <button (click)="toggleSale()">Sale!</button>
  </div> -->

  <ng-container *ngIf="!isLoading">
    <div class="changeViewContainer">
      <button title="{{tooltip}}" mat-button class="changeViewBtn" (click)="changeView()"><mat-icon class="icon">{{matIcon}}</mat-icon></button>
    </div>
  </ng-container>


  <ng-container *ngIf="isLoading" >
    <div class="loadingSpinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="defaultView && !isLoading">
    <app-book-grid-view [popularBooks]="payload" [p]="p"></app-book-grid-view>
  </ng-container>

  <ng-container *ngIf="!defaultView && !isLoading">
    <app-book-list-view [popularBooks]="payload" [p]="p"></app-book-list-view>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <button
    [title]="'Version info'"
    class="version_btn"
    (click)="showVersionInfoComponent()">
    <mat-icon>info</mat-icon>
  </button>
  <ng-template #dynamic></ng-template>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ng-container>
</div>
<!-- end of home component -->
