@import "../node_modules/@angular/material/theming";

@include mat-core();

// $my-theme-primary: mat-palette($mat-cyan);
// $my-theme-accent: mat-palette($mat-teal);
// $my-theme-warn: mat-palette($mat-red);

// // $my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

$my-second-primary: mat-palette($mat-yellow);
$my-second-accent: mat-palette($mat-teal);
$my-second-warn: mat-palette($mat-red);

$my-second-theme: mat-dark-theme(
  $my-second-primary,
  $my-second-accent,
  $my-second-warn
);

// .light-theme {
//   @include angular-material-theme($my-theme);
// }

.darkMode {
  @include angular-material-theme($my-second-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bookman Old Style;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  margin-bottom: 0;
}

.mr-8 {
  margin-right: 8px;
}

.ngx-pagination a,
.ngx-pagination button {
  color: blueviolet !important;
}

.ngx-pagination .current {
  background: rgba(137, 43, 226, 0.562) !important;
}

.ngx-pagination .disabled {
  color: blueviolet !important;
}

pagination-controls {
  text-align: center;
  padding-top: 5px;
}

.default-snackbar {
  color: black !important;
  background: rgb(255, 255, 255) !important;
}

.success-snackbar {
  color: black !important;
  background-color: rgb(153,204,51) !important;

}

.warning-snackbar {
  color: black !important;
  background-color: rgb(255,204,0) !important;

}

.error-snackbar {
  color: white !important;
  background-color: rgb(204,51,0) !important;
}

// /* hide scrollbar but allow scrolling */
// body {
//   -ms-overflow-style: none; /* for Internet Explorer, Edge */
//   scrollbar-width: none; /* for Firefox */
//   overflow-y: scroll;
// }

// body::-webkit-scrollbar {
//   display: none; /* for Chrome, Safari, and Opera */

// }
