.title {
  font-family: Bookman Old Style;
  text-align: center;
}

.text {
  font-weight: bold;
  font-family: Bookman Old Style;
  text-align: left;
}

.confirm {
  background-color: blueviolet;
}

.close {
  background-color: blueviolet;
}

.btn-container {
  margin-top: 10px;
  justify-content: right;
}
