.example-spacer {
  flex: 1 1 auto;
}

.search {
  text-align: center;
  font-size: large;
}

.search input {
  background-color: blueviolet;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 1em;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  text-align: center;
}

mat-toolbar {
  background-color: rgb(80, 19, 138);
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.title {
  color: white;
  text-decoration: none;
}

input::placeholder {
  color: white;
}

mat-icon {
  color: white;
}

.menu-button {
  margin-right: 10px;
  border: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202020;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 40px 8px 1px 8px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: blueviolet;
}

.sidenav .closebtn {
  position: absolute;
  right: 0px;
  font-size: 40px;
  margin-left: 50px;
  top: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
