<div class="all-search-content">
  <div class="books">
    <ng-container
      *ngFor="
        let book of searchedBook
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
    >
      <div class="book" (click)="openBookDetails(book.book_id)">
        <div class="book-thumb-container">
          <img
            *ngIf="book.cover"
            src="{{ book.cover }}"
            alt="thumbnail"
            class="book-thumbnail"
          />
          <p *ngIf="!book.cover">No Image found</p>
        </div>
        <div class="book-description">
          <p class="book-name">{{ book.name }}</p>
          <!-- <a class="book-url">{{ book.url }}</a> -->
        </div>
      </div>
    </ng-container>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
