<div class="all-favs">
  <div class="add-new-fav">
    <button
      mat-button
      class="add-new-fav-btn"
      [title]="'Add new favourite'"
      (click)="openAddNewDialog(userId)"
    >
      New Favourite
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="loadingSpinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <app-currently-reading></app-currently-reading>
  <h1 class="fav-books">{{displayName}} Favourites</h1>
  <ul *ngFor="let book of books">
    <li>
      {{ book.BookName }}
      <button
        mat-icon-button
        [title]="'remove'"
        (click)="openRemoveDialog(book.BookName, userId)"
        class="remove-fav"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </li>
  </ul>
  <ng-container *ngIf="noFavsYet then noFavs"></ng-container>
</div>

<ng-template #noFavs>
  <h1 class="noFavs">Currently no favourite books</h1>
</ng-template>