.fav-books {
  text-align: center;
  font-family: Bookman Old Style;
  padding-top: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  margin-right: 100px;
}

ul li {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: -1px; /* Prevent double borders */
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  position: relative;
  margin: 5px;
}

ul li:hover {
  background-color: blueviolet;
}

.remove-fav {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
  border: none;
}

.remove-fav:hover {
  background-color: rgb(197, 113, 113);
}

.all-favs {
  min-height: calc(100vh - 64px);
}

.add-new-fav {
  padding: 10px;
}

.add-new-fav-btn {
  text-align: center;
  background-color: blueviolet;
}

.add-new-fav-btn:hover {
  background-color: rgb(154, 78, 224);
}
