.currently-reading {
  width: 280px;
  padding-left: 10px;
  position: absolute;
  top: 70px;
  right: 5px;
}

h1 {
  font-size: 15px;
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
}

.book-title {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
