.fav-books {
  text-align: center;
}

.fav-books-list {
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

ul {
  padding: 0;
  list-style: inside decimal-leading-zero;
}
li {
  text-align: center;
  padding: 5px 10px;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}
