.create-user-form{
    min-height: calc(100vh - 64px);
    padding: 50px;
}

.create-user-form-body{
    padding-top: 50px;
    width: 500px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid;
    padding-top: 40px;
    box-shadow: 5px 10px blueviolet;
}

.form-group{
    padding: 10px;
}

h4{
    text-align: center;
    font-family: Bookman Old Style;
    font-size: 30px;
    padding-bottom: 15px;
}

.createBtn{
    background-color: blueviolet;
}

mat-form-field, button{
    width: 250px;
    border-radius: 10px;
}

a {
    font-size: 20px;
    font-family: Bookman Old Style;
    padding-top: 30px;
    display: block;
    color: rgb(177, 112, 250);
    background-color: transparent;
    text-decoration: none;
}

mat-icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 6px;
    left: 5px;
}

a:hover {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
}
