.change-theme {
  color: white;
  padding-right: 50px;
}

mat-slide-toggle {
  position: relative;
  /* Adjust these values accordingly */
  top: 2px;
  left: 5px;
}

mat-icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 6px;
  left: 5px;
}

