<div class="create-user-form">
    <div class="name">
        <h1 class="namePart1">Book</h1>
        <h1 class="namePart2">Base</h1>
    </div>

    <div class="create-user-form-body">
        <form>
            <h4>Create account</h4>
            <div class="form-group">
                <mat-form-field appearance="standard">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" [formControl]="firstName" required>
                    <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="standard">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last name" [formControl]="lastName" required>
                    <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" [disableRipple]="true">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                  </mat-form-field>
            </div>
            <button class="createBtn" mat-button (click)="onSubmit()" >
                Create
              </button>
              <a routerLink="">Already got an account?<mat-icon>account_circle</mat-icon></a>
        </form>
    </div>
</div>