<!-- home component -->
<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <!-- (selectionChange)="" -->
      <mat-option value="name">Name</mat-option>
      <mat-option value="year">Year</mat-option>
      <mat-option value="rating">Rating</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="books">
  <ng-container *ngFor="let book of popularBooks">
    <div class="book" (click)="openBookDetails(book.book_id)">
      <div class="book-thumb-container">
        <img
          *ngIf="book.cover"
          src="{{ book.cover }}"
          alt="thumbnail"
          class="book-thumbnail"
        />
        <p *ngIf="!book.cover">No Image found</p>
      </div>
      <div class="book-description">
        <p class="book-name">{{ book.name }}</p>
        <!-- <a class="book-url">{{ book.url }}</a> -->
      </div>
    </div>
  </ng-container>
</div>
<!-- end of home component -->
