// @import "../node_modules/@angular/material/theming";

// @include mat-core();

// $my-theme-primary: mat-palette($mat-cyan);
// $my-theme-accent: mat-palette($mat-teal);
// $my-theme-warn: mat-palette($mat-red);

// $my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// $my-second-primary: mat-palette($mat-cyan);
// $my-second-accent: mat-palette($mat-teal);
// $my-second-warn: mat-palette($mat-red);

// $my-second-theme: mat-dark-theme(
//   $my-second-primary,
//   $my-second-accent,
//   $my-second-warn
// );

// .light-theme {
//   @include angular-material-theme($my-theme);
// }

// .dark-theme {
//   @include angular-material-theme($my-second-theme);
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

// /* hide scrollbar but allow scrolling */
// body {
//   -ms-overflow-style: none; /* for Internet Explorer, Edge */
//   scrollbar-width: none; /* for Firefox */
//   overflow-y: scroll;
// }

// body::-webkit-scrollbar {
//   display: none; /* for Chrome, Safari, and Opera */
// }
