<h1 mat-dialog-title class="title">Edit Currently Reading</h1>
<div class="text" mat-dialog-content>
  <mat-form-field appearance="legacy">
    <mat-label>Book Name</mat-label>
    <input matInput placeholder="Name" [(ngModel)]="bookName" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="btn-container">
  <button
    class="save"
    mat-button
    mat-dialog-close
    [mat-dialog-close]="bookName"
  >
    Save
  </button>
  <button class="close" mat-button mat-dialog-close (click)="onNoClick()">
    Close
  </button>
</div>
